<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <% include ../partials/header %>

    <title>Home Page!</title>
  </head>
  <body >
    <% include ../partials/extraNav %>
    <div class="cantainer">
        <div class="row">
            <div class="col-sm card bg-dark text-white">
                <img src="/public/images/church.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Christmas</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
            <div class="col-sm card bg-dark text-white">
                <img src="/public/images/church1.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Friends Weeding</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
            <div class="col-sm card bg-dark text-white">
                <img src="/public/images/church3.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Welcome to Church</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>                   
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../partials/scripts %>
  </body>
</html>


<!-- account a = new account(2000); -->