<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <% include ../partials/header %>

    <title>Home Page!</title>
  </head>
  <body >
    <% include ../partials/extraNav %>
    <div class="cantainer">
        <div class="row">
            <div class="card " >
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/public/images/dance1.jpg" class="card-img" >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">50's Dance Party</h5>
                            <p class="card-text">We are having a 50’s themed sock hop dance at the house on Feb. 16, on a Saturday evening! Please come, wear your best 50’s get up, and there will be prizes for the best dressed lady and gentleman!! </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card " >
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/public/images/dance3.jpg" class="card-img" >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Winter Formal</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../partials/scripts %>
  </body>
</html>


<!-- account a = new account(2000); -->